@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@


<!-- bootstrap datepicker -->
@*<link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">*@
<!-- Bootstrap Color Picker -->
@*<link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">*@

<title>Báo cáo tổng hợp chất lượng chuyển phát đơn hàng theo mã KHL</title>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Báo cáo tổng hợp chất lượng chuyển phát đơn hàng theo mã KHL</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Từ Ngày </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Bưu Cục Gốc PH</label>
                        <select class="form-control select2" style="width: 100%;" id="channel">
                            <option selected="selected" value="0">Tất Cả</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Dịch Vụ</label>
                        <select class="form-control select2" style="width: 100%;" id="routecode">
                            <option selected="selected" value="0">EMS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Loại Bưu Gửi</label>
                        <select class="form-control select2" style="width: 100%;" id="zone">
                            <option selected="selected" value="0">Tất cả</option>
                            <option value="1">COD</option>
                            <option value="2">Không COD</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Đến Ngày</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tỉnh Nhận</label>
                        <select class="form-control select2" style="width: 100%;" id="zone">
                            <option selected="selected" value="1">Hà Nội</option>
                            <option value="2">Đà Nẵng</option>
                            <option value="3">Hồ Chí Minh</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Phạm Vi</label>
                        <select class="form-control select2" style="width: 100%;" id="zone">
                            <option selected="selected" value="0">Tất cả</option>
                            <option value="1">Trong Nước</option>
                            <option value="2">Quốc Tế</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Khách Hàng</label>
                        <textarea rows="2" class="form-control" id="customer"></textarea>
                    </div>
                    <!-- /.form-group -->
                    <!-- /.form-group -->

                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lrg ajax" id="btnreport">Tìm Kiếm</button>
                </div>
            </div>
            <div class="box-header">
                <h3 class="box-title">Báo cáo tổng hợp chất lượng chuyển phát đơn hàng theo mã KHL</h3>
            </div>
            <div style="overflow-x:auto;">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th rowspan="2" class="text-center">STT</th>
                            <th rowspan="2" class="text-center">Tên KHL</th>
                            <th rowspan="2" class="text-center">Mã KHL</th>
                            <th rowspan="2" class="text-center">Khu Vực</th>
                            <th rowspan="2" class="text-center">Tổng Sản Lượng Phát Hành</th>
                            <th colspan="2" class="text-center">Phát Thành Công</th>
                            <th colspan="2" class="text-center">Phát Không Thành Công</th>
                            <th colspan="2" class="text-center">Phát Hoàn Thành Công</th>
                            <th colspan="2" class="text-center">Chuyển Hoàn</th>
                            <th colspan="2" class="text-center">Chờ Chuyển Hoàn</th>
                            <th colspan="2" class="text-center">Đang Vận Chuyển</th>
                            <th colspan="2" class="text-center">Chưa Có TT Phát</th>
                        </tr>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Tỷ Lệ</th>
                        </tr>
                    </thead>
                    <tbody id="listqualityreport"></tbody>
                </table>
            </div>
            <div class="loading-element">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            <div>
                <p id="demo1"></p>
            </div>



        </div>
    </div>


    <!-- /.box-body -->





</section>



<script>
    $(document).ready(function () {
        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    });


    $("#btnreport").click(function () {

        // goi ham Detail
        $("#listqualityreport tr").remove();
        detail();



    });

    $(document).ready(function () {
        $('.loading-element').hide();
    });

    //Phần chi tiết của bảng tổng hợp sản lượng đi phát
    function detail(p) {
        $.ajax({
            url: '@Url.Action("ListDetailedQualityDeliveryReport", "QualityDelivery")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    zone: $("#zone").val(),
                    endpostcode: $("#endpostcode").val(),
                    routecode: $("#routecode").val(),
                    startdate: $('#fromdate').val(),
                    enddate: $('#todate').val(),
                    service: $("#service").val()
                    
                },
            success: function (result) {
                // sau khi chay ham thanh cong lay ra ket qua thi bind html vao id listqualityreport
                console.log(result.Code);
                if (result.Code == 99) {
                    document.getElementById("demo1").innerHTML = "Không Có Dữ Liệu";

                }
                else {
                    $('.loading-element').hide();
                    $('#listqualityreport').html(result);
                }

            }
        })
    }

   


</script>


