
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Areas/Admin/Content/dist/css/AdminLTE.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #2d2a2a;
        }

        .table-bordered > tbody > tr > td {
            padding:2px;
        }
        .row {
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <form>
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="box-header with-border">
                            <h2 class="box-title"><strong>CÔNG TY CỔ PHẦN CHUYỂN PHÁT NHANH BƯU ĐIỆN</strong></h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <h4 class="box-title text-right" id="today"> </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center"><strong>BÁO CÁO HOẠT ĐỘNG TẠI SÀN KHAI THÁC</strong></h2>
                    <div class="col-lg-6" style="padding-right: 5px;">
                        <h5 class="text-right"><strong>BC Khai Thác:</strong></h5>
                        <h5 class="text-right"><strong>Phạm Vi Dữ Liệu:</strong></h5>
                        <h5 class="text-right"><strong>Thời Gian:</strong></h5>
                        <h5 class="text-right"><strong>Phương Tiện VC:</strong></h5>
                        <h5 class="text-right"><strong>Tỉnh Chấp Nhận:</strong></h5>
                        <h5 class="text-right"><strong>Đơn Vị Chấp Nhận:</strong></h5>
                        <h5 class="text-right"><strong>Tỉnh Phát Trả:</strong></h5>
                        <h5 class="text-right"><strong>Đơn Vị Phát Trả:</strong></h5>
                    </div>
                    <div class="col-lg-6" style="padding-left: 0px;">
                        <h5 class="text-left" id="bckhaithac"></h5>
                        <h5 class="text-left"><strong>Theo Ngày Xác Nhận Đến</strong></h5>
                        <h5 class="text-left" id="date"></h5>
                        <h5 class="text-left" id="phuongtienvc"></h5>
                        <h5 class="text-left" id="tinhchapnhan"></h5>
                        <h5 class="text-left" id="donvichapnhan"></h5>
                        <h5 class="text-left" id="tinhphattra"></h5>
                        <h5 class="text-left" id="donviphattra"></h5>
                    </div>



                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-lrg ajax" id="printpagebutton" onclick="printpage()">In Báo Cáo <i class="fa fa-print" aria-hidden="true"></i>  </button>
                    <button type="button" class="btn btn-success btn-lrg ajax" id="btnexport" data-baseurl="@Url.Action("Export", "DevelopActivity")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>
                    
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12" id="chartContainer1" style="height: 400px; width: 100%;">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="chartContainer" style="height: 400px; width: 100%;">

                    </div>
                </div>

            </div>
            
            

            <div class="row">
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:11px;border-collapse:collapse;border:1px solid;">
                        <thead>
                            <tr>
                                <th  rowspan="2" class="text-center">STT</th>
                                <th style="background:#f9c19a;" colspan="14" class="text-center">Chi Tiết Đến</th>
                                <th style="background:#57c5e0;" colspan="12" class="text-center">Chi Tiết Đi</th>
                                <th style="background:#3ce892;" colspan="2" class="text-center">Tỉ Lệ Đáp Ứng Theo Chuyến</th>
                                <th style="background:#3ce892;" rowspan="2" class="text-center">Tỷ lệ đáp ứng lũy kế theo SL </th>
                                <th style="background:#3ce892;" rowspan="2" class="text-center">Tỷ lệ đáp ứng lũy kế theo KLg </th>

                            </tr>
                            <tr>
                                <th style="background:#f9c19a;" class="text-center">Thời gian</th>
                                <th style="background:#f9c19a;" class="text-center">ID tuyến </th>
                                <th style="background:#f9c19a;" class="text-center">Tên tuyến</th>
                                <th style="background:#f9c19a;" class="text-center">ID chuyến </th>
                                <th style="background:#f9c19a;" class="text-center">Tên chuyến</th>
                                <th style="background:#f9c19a;" class="text-center">Tên Đơn Vị </th>
                                <th style="background:#f9c19a;" class="text-center">Mã Bưu Cục</th>
                                <th style="background:#f9c19a;" class="text-center">Tên Bưu Cục </th>
                                <th style="background:#f9c19a;" class="text-center">SL đến </th>
                                <th style="background:#f9c19a;" class="text-center">KL đến (kg)</th>
                                <th style="background:#f9c19a;" class="text-center">SL đến lũy kế</th>
                                <th style="background:#f9c19a;"class="text-center">KL đến lũy kế</th>
                                <th style="background:#f9c19a;" class="text-center">SL tồn lũy kế</th>
                                <th style="background:#f9c19a;" class="text-center">KLg tồn lũy kế</th>

                                <th style="background:#57c5e0;" class="text-center">Thời gian</th>
                                <th style="background:#57c5e0;" class="text-center">ID Tuyến </th>
                                <th style="background:#57c5e0;" class="text-center">Tên tuyến</th>
                                <th style="background:#57c5e0;" class="text-center">ID chuyến</th>
                                <th style="background:#57c5e0;" class="text-center">Tên chuyến </th>
                                <th style="background:#57c5e0;" class="text-center">Tên Đơn Vị </th>
                                <th style="background:#57c5e0;" class="text-center">Mã Bưu Cục</th>
                                <th style="background:#57c5e0;" class="text-center">Tên Bưu Cục </th>
                                <th style="background:#57c5e0;" class="text-center">SL đi </th>
                                <th style="background:#57c5e0;" class="text-center">KL đi (kg)</th>
                                <th style="background:#57c5e0;" class="text-center">SL đi lũy kế</th>
                                <th style="background:#57c5e0;" class="text-center">KL đi lũy kế</th>

                                <th style="background:#3ce892;" class="text-center">Đáp ứng (SL)</th>
                                <th style="background:#3ce892;" class="text-center">Đáp ứng (KLg)</th>
                            </tr>
                        </thead>
                        <tbody id="listdevelopactivity1"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element text-center" style="font-size:50px;">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>


        </div>
    </form>

</body>
</html>

<script src="/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Areas/Admin/Content/dist/js/adminlte.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.28/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    
    var url_string = document.URL;
    var url = new URL(url_string);
    var bckhaithac = url.searchParams.get("bckhaithac");
    var date = url.searchParams.get("date");
    var phuongtienvanchuyen = url.searchParams.get("phuongtienvanchuyen");
    var tinhchapnhan = url.searchParams.get("tinhchapnhan");
    var donvichapnhan = url.searchParams.get("donvichapnhan");
    var tinhphattra = url.searchParams.get("tinhphattra");
    var donviphattra = url.searchParams.get("donviphattra");

    var checkbckhaithac = 0;
    checkbckhaithac = parseInt(bckhaithac);


    switch (checkbckhaithac) {
        case 0:
            checkbckhaithac = "Tất Cả"
            break;

        case 101000:
            checkbckhaithac = "101000 - HN EMS NT"
            break;
        case 701000:
            checkbckhaithac = "701000 - HCM EMS NT"
            break;
        default:
            break;
    }

    var checkphuongtienvanchuyen = 0;
    checkphuongtienvanchuyen = parseInt(phuongtienvanchuyen);

    switch (checkphuongtienvanchuyen) {
        case 0:
            checkphuongtienvanchuyen = "Bay"
            break;
        default:
            break;
    }

    

        var checktinhchapnhan = 0;
        checktinhchapnhan = parseInt(tinhchapnhan);

        switch (checktinhchapnhan) {
            case 100:
                checktinhchapnhan = "Tất Cả"
                break;
            case 100000:
                checktinhchapnhan = "Hà Nội"
                break;
            case 700000:
                checktinhchapnhan = "Hồ Chí Minh"
                break;
            default:
                break;
        }

        var checkdonvichapnhan = 0;
        checkdonvichapnhan = parseInt(donvichapnhan);

        switch (checkdonvichapnhan) {
            case 0:
                checkdonvichapnhan = "Tất Cả"
                break;
            case 1:
                checkbckhaithac == "101000 - HN EMS NT" ? checkdonvichapnhan = "Bưu Điện Hồ Chí Minh" : checkdonvichapnhan = "Bưu Điện Hà Nội"
                //checkdonvichapnhan = "Bưu Điện "
                break;
            default:
                break;
        }
    
    

    var checktinhphattra = 0;
    checktinhphattra = parseInt(tinhphattra);

    switch (checktinhphattra) {
        case 100000:
            checktinhphattra = "Hà Nội"
            break;
        case 700000:
            checktinhphattra = "Hồ Chí Minh"
            break;
        default:
            break;
    }

    var checkdonviphattra = 0;
    checkdonviphattra = parseInt(donviphattra);

    switch (checkdonviphattra) {
        case 0:
            checkdonviphattra = "Tất Cả"
            break;
        default:
            break;
    }


    $(document).ready(function () {
        $('.box-footer').hide();
        $('#btnexport').hide();

        document.getElementById("date").innerHTML = "<strong>" + date + "</strong>";
        //document.getElementById("today").innerHTML = "<strong>Ngày Lập Báo Cáo:" + ddmmyyyy(); + "</strong>";
        document.getElementById("bckhaithac").innerHTML = "<strong>" + checkbckhaithac + "</strong>";
        document.getElementById("phuongtienvc").innerHTML = "<strong>" + checkphuongtienvanchuyen + "</strong>";
        document.getElementById("tinhchapnhan").innerHTML = "<strong>" + checktinhchapnhan + "</strong>";
        document.getElementById("donvichapnhan").innerHTML = "<strong>" + checkdonvichapnhan + "</strong>";
        document.getElementById("tinhphattra").innerHTML = "<strong>" + checktinhphattra + "</strong>";
        document.getElementById("donviphattra").innerHTML = "<strong>" + checkdonviphattra + "</strong>";

        // goi ham Detail
        detail_Roadway1();

    });

    //Export Excel
    $('#btnexport').click(function () {
        // build the url
        var url = $(this).data('baseurl') + '?workcenter=' + bckhaithac + '&AcceptDate=' + date + '&arriveprovince=' + tinhchapnhan + '&arrivepartner=' + donvichapnhan;
        // redirect
        location.href = url;
    });


    //Phần JS để lấy dữ liệu date theo kiểu yyyyMMdddd
    function ddmmyyyy() {
        var x = new Date();
        var y = x.getFullYear().toString();
        var m = (x.getMonth() + 1).toString();
        var d = x.getDate().toString();
        var h = x.getHours().toString();
        var mi = x.getMinutes().toString();
        (d.length == 1) && (d = '0' + d);
        (m.length == 1) && (m = '0' + m);
        var ddmmyyyy = d + '/' + m + '/' + y + '&nbsp;' + h + ':' + mi
        return ddmmyyyy;
    }

    //Phần bỏ button in E2 khi kích vào
    function printpage() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("printpagebutton");
        var exportButton = document.getElementById("btnexport");
        //Set the print button visibility to 'hidden'
        printButton.style.visibility = 'hidden';
        exportButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
        exportButton.style.visibility = 'visible';
    }

    

    //Phần JS để lấy dữ liệu theo kiểu JSON rồi bind vào table theo ID
    function detail_Roadway1() {
        let transitbag = 0;
        checkbckhaithac == "101000 - HN EMS NT" ? transitbag = 99 : transitbag = 10;
        $.ajax({
            url: '@Url.Action("ListDevelopActivity_Action_NOI_TINH", "DevelopActivity")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'json',
            data:
                {
                    workcenter: bckhaithac,
                    AcceptDate: date,
                    arriveprovince: tinhchapnhan,
                    arrivepartner: donvichapnhan,
                    leaveprovince: tinhphattra,
                    transitbag: transitbag

                },
            success: function (data) {
                var str_html = "";
                var str_body = "";
                //var a = 1;
                $.each(data.ListNOI_TINHReport, function (i, item) {
                    str_body += '<tr>';
                    //str_body += '<td class="text-center">' + a++ + '</td>';
                    str_body += '<td class="text-center">' + data.ListNOI_TINHReport[i].STT + '</td>';
                    str_body += '<td style="width:100px;">' + data.ListNOI_TINHReport[i].TGDEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].ARRIVEMAILROUTE + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].ARRIVEIDVNPOSTNAME + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].ARRIVEIDVNPOST + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].ARRIVEMAILROUTENAME + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].ARRIVEDONVI + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].ARRIVEFROMPOSCODE + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].ARRIVEFROMPOSNAME + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].ARRIVEQUANTITY + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].ARRIVEWEIGHT_KG + '</td>';
                    str_body += '<td class="text-right" style="background:#f9c19a;">' + data.ListNOI_TINHReport[i].ARRIVEQUANTITY_ACCUM + '</td>';
                    str_body += '<td class="text-right" style="background:#f9c19a;">' + data.ListNOI_TINHReport[i].DEN_KLG_LUYKE + '</td>';

                    str_body += '<td class="text-right" style="background:#f9c19a;">' + data.ListNOI_TINHReport[i].ARRIVEQUANTITY_STOCKACCUM + '</td>';
                    str_body += '<td class="text-right" style="background:#f9c19a;">' + data.ListNOI_TINHReport[i].DEN_KLG_TON_LUYKE + '</td>';


                    str_body += '<td style="width:100px;">' + data.ListNOI_TINHReport[i].TGQUETTUIDI + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].LEAVEMAILROUTE + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVEIDVNPOSTNAME + '</td>';
                    str_body += '<td class="text-right">' + data.ListNOI_TINHReport[i].LEAVEIDVNPOST + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVEMAILROUTENAME + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVEDONVI + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVETOPOSCODE + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVETOPOSNAME + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVEQUANTITY + '</td>';
                    str_body += '<td>' + data.ListNOI_TINHReport[i].LEAVEWEIGHT_KG + '</td>';

                    str_body += '<td class="text-right" style="background:#57c5e0;">' + data.ListNOI_TINHReport[i].LEAVEQUANTITY_ACCUM + '</td>';
                    str_body += '<td class="text-right" style="background:#57c5e0;">' + data.ListNOI_TINHReport[i].DI_KLG_LUYKE + '</td>';

                    str_body += '<td class="text-right" style="background:#3ce892;">' + data.ListNOI_TINHReport[i].TYLEDAPUNGCHUYEN_SL + '%' + '</td>';
                    str_body += '<td class="text-right" style="background:#3ce892;">' + data.ListNOI_TINHReport[i].TYLEDAPUNGCHUYEN_KLG + '%' + '</td>';
                    str_body += '<td class="text-right" style="background:#3ce892;">' + data.ListNOI_TINHReport[i].TYLEDAPUNGLUYKE_SLG + '%' + '</td>';
                    str_body += '<td class="text-right" style="background:#3ce892;">' + data.ListNOI_TINHReport[i].TYLEDAPUNGLUYKE_KLG + '%' + '</td>';

                    str_body += '<td class="hide">' + data.ListNOI_TINHReport[i].MAXDATE + '</td>';
                    str_body += '</tr>';
                });
                str_html += str_body;
                

                if (data.Code == '01') {
                    $('.loading-element').hide();
                    //alert("Không Có Số Liệu");
                    swal(
                      'Không Có Số Liệu',
                      '',
                      'error'
                    )
                }
                else {
                    swal(
                      'Thành Công !',
                      '',
                      'success'
                    )
                    $('.loading-element').hide();
                    $('#listdevelopactivity1').html(str_html);
                    $('#btnexport').show();
                    $('.box-footer').show();
                    DevelopChartKL();
                    DevelopChartSL();
                   
                }
            }
        })
    }

</script>
<script src="~/Areas/Admin/Content/bower_components/DevelopActivityJS/DevelopChart_NOI_TINH.js"></script>


