
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Areas/Admin/Content/dist/css/AdminLTE.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #2d2a2a;
        }

        .table-bordered > tbody > tr > td {
            padding:2px;
        }
        .row {
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <form>
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="box-header with-border">
                            <h2 class="box-title"><strong>CÔNG TY CỔ PHẦN CHUYỂN PHÁT NHANH BƯU ĐIỆN</strong></h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <h4 class="box-title text-right" id="today"> </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center"><strong>BÁO CÁO CHI TIẾT HOẠT ĐỘNG TẠI SÀN KHAI THÁC LIÊN TỈNH</strong></h2>
                    <div class="col-lg-6" style="padding-right: 5px;">
                        <h5 class="text-right"><strong>BC Khai Thác:</strong></h5>
                        <h5 class="text-right"><strong>Phạm Vi Dữ Liệu:</strong></h5>
                        <h5 class="text-right"><strong>Thời Gian:</strong></h5>
                        <h5 class="text-right"><strong>Phương Tiện VC:</strong></h5>
                        <h5 class="text-right"><strong>Chặng Vận Chuyển:</strong></h5>
                        <h5 class="text-right"><strong>Tuyến Vận Chuyển:</strong></h5>
                        <h5 class="text-right"><strong>Chuyến Vận Chuyển:</strong></h5>

                        <h5 class="text-right"><strong>Tỉnh Chấp Nhận:</strong></h5>
                        <h5 class="text-right"><strong>Đơn Vị Chấp Nhận:</strong></h5>
                        <h5 class="text-right"><strong>Tỉnh Phát Trả:</strong></h5>
                        <h5 class="text-right"><strong>Đơn Vị Phát Trả:</strong></h5>
                    </div>
                    <div class="col-lg-6" style="padding-left: 0px;">
                        <h5 class="text-left" id="bckhaithac"></h5>
                        <h5 class="text-left"><strong>Theo Ngày Xác Nhận Đến</strong></h5>
                        <h5 class="text-left" id="date"></h5>
                        <h5 class="text-left" id="phuongtienvc"></h5>
                        <h5 class="text-left" id="changvc"></h5>
                        <h5 class="text-left" id="tuyenvc"></h5>
                        <h5 class="text-left" id="chuyenvc"></h5>

                        <h5 class="text-left" id="tinhchapnhan"></h5>
                        <h5 class="text-left" id="donvichapnhan"></h5>
                        <h5 class="text-left" id="tinhphattra"></h5>
                        <h5 class="text-left" id="donviphattra"></h5>
                    </div>



                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-lrg ajax" id="printpagebutton" onclick="printpage()">In Báo Cáo <i class="fa fa-print" aria-hidden="true"></i>  </button>
                    @*<button type="button" class="btn btn-success btn-lrg ajax" id="btnexport" data-baseurl="@Url.Action("Export", "DevelopActivity")">Xuất Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>  </button>*@
                    <input type="button" class="btn btn-success btn-lrg ajax no-print" id="btnexportJS" onclick="tableToExcel('example1', 'Dữ Liệu Chi Tiết ')" value="Xuất Excel">

                </div>
            </div>
            
            <div class="row" style="margin-top:35px;">
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:9px;border-collapse:collapse;border:1px solid;">
                        <thead>
                            <tr>
                                <th style="background:#f9c19a;" rowspan="2" class="text-center">STT</th>
                                <th style="background:#f9c19a;" colspan="14" class="text-center">Chi Tiết Đến</th>
                                <th style="background:#57c5e0;" colspan="13" class="text-center">Chi Tiết Đi</th>
                            </tr>
                            <tr>
                                <th style="background:#f9c19a;" class="text-center">Hướng</th>
                                <th style="background:#f9c19a;" class="text-center">Mã E1 </th>
                                <th style="background:#f9c19a;" class="text-center">Khối lượng (g)</th>
                                <th style="background:#f9c19a;" class="text-center">Bưu cục đóng</th>
                                <th style="background:#f9c19a;" class="text-center">BC nhận </th>
                                <th style="background:#f9c19a;" class="text-center">Chuyến thư </th>
                                <th style="background:#f9c19a;" class="text-center">Ngày ch thư</th>
                                <th style="background:#f9c19a;" class="text-center">Túi số</th>
                                <th style="background:#f9c19a;"class="text-center">Mã cổ túi</th>
                                <th style="background:#f9c19a;" class="text-center">Xác nhận đến</th>
                                <th style="background:#f9c19a;" class="text-center">BD10</th>
                                <th style="background:#f9c19a;" class="text-center">Ngày lập BD10</th>
                                <th style="background:#f9c19a;" class="text-center">ID hành trình đến</th>
                                <th style="background:#f9c19a;" class="text-center">Tên hành trình đến</th>

                                <th style="background:#57c5e0;" class="text-center">Hướng</th>
                                <th style="background:#57c5e0;" class="text-center">Mã E1 </th>
                                <th style="background:#57c5e0;" class="text-center">Bưu cục đóng</th>
                                <th style="background:#57c5e0;" class="text-center">BC nhận </th>
                                <th style="background:#57c5e0;" class="text-center">Chuyến thư </th>
                                <th style="background:#57c5e0;" class="text-center">Ngày ch thư</th>
                                <th style="background:#57c5e0;" class="text-center">Túi số</th>
                                <th style="background:#57c5e0;" class="text-center">Mã cổ túi</th>
                                <th style="background:#57c5e0;" class="text-center">Xác nhận đi</th>
                                <th style="background:#57c5e0;" class="text-center">BD10</th>
                                <th style="background:#57c5e0;" class="text-center">Ngày lập BD10</th>
                                <th style="background:#57c5e0;" class="text-center">ID hành trình đi</th>
                                <th style="background:#57c5e0;" class="text-center">Tên hành trình đi</th>
                            </tr>
                        </thead>
                        <tbody id="listdevelopactivity1"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element text-center" style="font-size:50px;">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>


        </div>
    </form>

</body>
</html>

<script src="/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Areas/Admin/Content/dist/js/adminlte.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.28/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()


    var url_string = document.URL;
    var url = new URL(url_string);
    var bckhaithac = url.searchParams.get("bckhaithac");
    var date = url.searchParams.get("date");
    var phuongtienvanchuyen = url.searchParams.get("phuongtienvanchuyen");
    var changvanchuyen = url.searchParams.get("changvanchuyen");
    var tuyenvanchuyen = url.searchParams.get("tuyenvanchuyen");
    var chuyenvanchuyen = url.searchParams.get("chuyenvanchuyen");
    var tinhchapnhan = url.searchParams.get("tinhchapnhan");
    var donvichapnhan = url.searchParams.get("donvichapnhan");
    var tinhphattra = url.searchParams.get("tinhphattra");
    var donviphattra = url.searchParams.get("donviphattra");

    var checkbckhaithac = 0;
    checkbckhaithac = parseInt(bckhaithac);


    switch (checkbckhaithac) {
        case 0:
            checkbckhaithac = "Tất Cả"
            break;

        case 100916:
            checkbckhaithac = "100916 - HN EMS LT"
            break;
        case 700916:
            checkbckhaithac = "700916 - HCM EMS LT"
            break;
        default:
            break;
    }

    var checkphuongtienvanchuyen = 0;
    checkphuongtienvanchuyen = parseInt(phuongtienvanchuyen);

    switch (checkphuongtienvanchuyen) {
        case 0:
            checkphuongtienvanchuyen = "Bay"
            break;
        default:
            break;
    }

    var checkchangvanchuyen = 0;
    checkchangvanchuyen = parseInt(changvanchuyen);

    switch (checkchangvanchuyen) {
        case 0:
            checkchangvanchuyen = "Nội Bài - Tân Sơn Nhất"
            break;
        default:
            break;
    }

    var checktuyenvanchuyen = 0;
    checktuyenvanchuyen = parseInt(tuyenvanchuyen);

    switch (checktuyenvanchuyen) {
        case 0:
            checktuyenvanchuyen = "Tất Cả"
            break;
        default:
            break;
    }

    var checkchuyenvanchuyen = 0;
    checkchuyenvanchuyen = parseInt(chuyenvanchuyen);

    switch (checkchuyenvanchuyen) {
        case 0:
            checkchuyenvanchuyen = "Tất Cả"
            break;
        default:
            break;
    }
    

        var checktinhchapnhan = 0;
        checktinhchapnhan = parseInt(tinhchapnhan);

        switch (checktinhchapnhan) {
            case 0:
                checkbckhaithac == "100916 - HN EMS LT" ? checktinhchapnhan = "Miền Bắc(Trừ Hà Nội)" : checktinhchapnhan = "Miền Nam (Trừ Hồ Chí Minh)"
                //checktinhchapnhan = "Miền Bắc(Trừ Hà Nội)"
                break;
            case 10:
                checkbckhaithac == "100916 - HN EMS LT" ? checktinhchapnhan = "Miền Bắc" : checktinhchapnhan = "Miền Nam"
                //checktinhchapnhan = "Miền Bắc"
                break;
            case 100000:
                checktinhchapnhan = "Hà Nội"
                break;
            case 700000:
                checktinhchapnhan = "Hồ Chí Minh"
                break;
            default:
                break;
        }

        var checkdonvichapnhan = 0;
        checkdonvichapnhan = parseInt(donvichapnhan);

        switch (checkdonvichapnhan) {
            case 0:
                checkdonvichapnhan = "Tất Cả"
                break;
            case 1:
                checkbckhaithac == "100916 - HN EMS LT" ? checkdonvichapnhan = "Bưu Điện Hà Nội" : checkdonvichapnhan = "Bưu Điện Hồ Chí Minh"
                //checkdonvichapnhan = "Bưu Điện "
                break;
            case 2:
                checkbckhaithac == "100916 - HN EMS LT" ? checkdonvichapnhan = "EMS Hà Nội" : checkdonvichapnhan = "EMS Hồ Chí Minh"
                //checkdonvichapnhan = "EMS "
                break;
            case 99:
                checkdonvichapnhan = "Tỉnh Trừ Thành Phố "
                break;
            default:
                break;
        }
    
    

    var checktinhphattra = 0;
    checktinhphattra = parseInt(tinhphattra);

    switch (checktinhphattra) {
        case 0:
            checktinhphattra = "Hà Nội"
            break;
        case 1:
            checktinhphattra = "Hồ Chí Minh"
            break;
        default:
            break;
    }

    var checkdonviphattra = 0;
    checkdonviphattra = parseInt(donviphattra);

    switch (checkdonviphattra) {
        case 0:
            checkdonviphattra = "Tất Cả"
            break;
        default:
            break;
    }


    $(document).ready(function () {
        $('.box-footer').hide();
        $('#btnexportJS').hide();

        document.getElementById("date").innerHTML = "<strong>" + date + "</strong>";
        //document.getElementById("today").innerHTML = "<strong>Ngày Lập Báo Cáo:" + ddmmyyyy(); + "</strong>";
        document.getElementById("bckhaithac").innerHTML = "<strong>" + checkbckhaithac + "</strong>";
        document.getElementById("phuongtienvc").innerHTML = "<strong>" + checkphuongtienvanchuyen + "</strong>";
        document.getElementById("changvc").innerHTML = "<strong>" + checkchangvanchuyen + "</strong>";
        document.getElementById("tuyenvc").innerHTML = "<strong>" + checktuyenvanchuyen + "</strong>";
        document.getElementById("chuyenvc").innerHTML = "<strong>" + checkchuyenvanchuyen + "</strong>";
        document.getElementById("tinhchapnhan").innerHTML = "<strong>" + checktinhchapnhan + "</strong>";
        document.getElementById("donvichapnhan").innerHTML = "<strong>" + checkdonvichapnhan + "</strong>";
        document.getElementById("tinhphattra").innerHTML = "<strong>" + checktinhphattra + "</strong>";
        document.getElementById("donviphattra").innerHTML = "<strong>" + checkdonviphattra + "</strong>";

        // goi ham Detail
        detail_Roadway1();

    });

    
    //Phần JS để lấy dữ liệu date theo kiểu yyyyMMdddd
    function ddmmyyyy() {
        var x = new Date();
        var y = x.getFullYear().toString();
        var m = (x.getMonth() + 1).toString();
        var d = x.getDate().toString();
        var h = x.getHours().toString();
        var mi = x.getMinutes().toString();
        (d.length == 1) && (d = '0' + d);
        (m.length == 1) && (m = '0' + m);
        var ddmmyyyy = d + '/' + m + '/' + y + '&nbsp;' + h + ':' + mi
        return ddmmyyyy;
    }

    //Phần bỏ button in E2 khi kích vào
    function printpage() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
        
    }

    

    //Phần JS để lấy dữ liệu theo kiểu JSON rồi bind vào table theo ID
    function detail_Roadway1() {
        $.ajax({
            url: '@Url.Action("ListDevelopActivity_Action_CHI_TIET_LIEN_TINH_ACTION", "DevelopActivity")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'json',
            data:
                {
                    workcenter: bckhaithac,
                    AcceptDate: date,
                    arriveprovince: tinhchapnhan,
                    arrivepartner: donvichapnhan,

                },
            success: function (data) {
                var str_html = "";
                var str_body = "";
                var a = 1;
                $.each(data.ListCHI_TIET_LIEN_TINHReport, function (i, item) {
                    str_body += '<tr>';
                    //Chiều ĐẾN
                    str_body += '<td class="text-center">' + a++ + '</td>';
                    //str_body += '<td class="text-center">' + data.ListCHI_TIET_LIEN_TINHReport[i].STT + '</td>';
                    str_body += '<td style="width:100px;">' + data.ListCHI_TIET_LIEN_TINHReport[i].HUONG_DEN + '</td>';
                    str_body += '<td class="text-center">' + data.ListCHI_TIET_LIEN_TINHReport[i].ITEMCODE_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].WEIGHT_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].FROMPOSCODE_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].TOPOSCODE_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].MAILTRIPNUMBER_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].MAILTRIPDATE_DEN + '</td>';

                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].POSTBAGINDEX_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].POSTBAGCODE_DEN + '</td>';

                    str_body += '<td style="width:100px;">' + data.ListCHI_TIET_LIEN_TINHReport[i].TO_CHAR_ACCEPTTIME_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].TO_CHAR_BC37CODE_DEN + '</td>';

                    str_body += '<td style="width:100px;">' + data.ListCHI_TIET_LIEN_TINHReport[i].TO_CHAR_BC37CREATETIME_DEN + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].IDVNPOST_DEN + '</td>';

                    str_body += '<td >' + data.ListCHI_TIET_LIEN_TINHReport[i].CONVERT_3_IDVNPOST_DEN + '</td>';


                    //Chiều ĐI
                    str_body += '<td style="width:100px;">' + data.ListCHI_TIET_LIEN_TINHReport[i].HUONG_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].ITEMCODE_DI + '</td>';

                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].FROMPOSCODE_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].TOPOSCODE_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].MAILTRIPNUMBER_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].MAILTRIPDATE_DI + '</td>';

                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].POSTBAGINDEX_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].POSTBAGCODE_DI + '</td>';

                    str_body += '<td style="width:100px;">' + data.ListCHI_TIET_LIEN_TINHReport[i].TO_CHAR_ACCEPTTIME_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].TO_CHAR_BC37CODE_DI + '</td>';

                    str_body += '<td style="width:100px;">' + data.ListCHI_TIET_LIEN_TINHReport[i].TO_CHAR_BC37CREATETIME_DI + '</td>';
                    str_body += '<td class="text-right">' + data.ListCHI_TIET_LIEN_TINHReport[i].IDVNPOST_DI + '</td>';

                    str_body += '<td >' + data.ListCHI_TIET_LIEN_TINHReport[i].CONVERT_3_IDVNPOST_DI + '</td>';


                    str_body += '</tr>';
                });
                str_html += str_body;
                

                if (data.Code == '01') {
                    $('.loading-element').hide();
                    //alert("Không Có Số Liệu");
                    swal(
                      'Không Có Số Liệu',
                      '',
                      'error'
                    )
                }
                else {
                    swal(
                      'Thành Công !',
                      '',
                      'success'
                    )
                    $('.loading-element').hide();
                    $('#listdevelopactivity1').html(str_html);
                    $('#btnexportJS').show();
                    $('.box-footer').show();
                    
                   
                }
            }
        })
    }

</script>


