
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Areas/Admin/Content/dist/css/AdminLTE.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #2d2a2a;
        }

        .table-bordered > tbody > tr > td {
            padding:2px;
        }
        .row {
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <form>
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="box-header with-border">
                            <h3 class="box-title"><strong>CÔNG TY CỔ PHẦN CHUYỂN PHÁT NHANH BƯU ĐIỆN</strong></h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4">
                        <h3 class="box-title" id="today"> </h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center"><strong>BÁO CÁO HOẠT ĐỘNG TẠI SÀN KHAI THÁC</strong></h2>
                    <div class="col-lg-6" style="padding-right: 5px;">
                        <h4 class="text-right"><strong>BC Khai Thác:</strong></h4>
                        <h4 class="text-right"><strong>Phạm Vi Dữ Liệu:</strong></h4>
                        <h4 class="text-right"><strong>Thời Gian:</strong></h4>
                        <h4 class="text-right"><strong>Phương Tiện VC:</strong></h4>
                        <h4 class="text-right"><strong>Chặng Vận Chuyển:</strong></h4>
                        <h4 class="text-right"><strong>Tuyến Vận Chuyển:</strong></h4>
                        <h4 class="text-right"><strong>Chuyến Vận Chuyển:</strong></h4>

                        <h4 class="text-right"><strong>Tỉnh Chấp Nhận:</strong></h4>
                        <h4 class="text-right"><strong>Đơn Vị Chấp Nhận:</strong></h4>
                        <h4 class="text-right"><strong>Tỉnh Phát Trả:</strong></h4>
                        <h4 class="text-right"><strong>Đơn Vị Phát Trả:</strong></h4>
                    </div>
                    <div class="col-lg-6" style="padding-left: 0px;">
                        <h4 class="text-left" id="bckhaithac"></h4>
                        <h4 class="text-left"><strong>Theo Ngày Xác Nhận Đến</strong></h4>
                        <h4 class="text-left" id="date"></h4>
                        <h4 class="text-left" id="phuongtienvc"></h4>
                        <h4 class="text-left" id="changvc"></h4>
                        <h4 class="text-left" id="tuyenvc"></h4>
                        <h4 class="text-left" id="chuyenvc"></h4>

                        <h4 class="text-left" id="tinhchapnhan"></h4>
                        <h4 class="text-left" id="donvichapnhan"></h4>
                        <h4 class="text-left" id="tinhphattra"></h4>
                        <h4 class="text-left" id="donviphattra"></h4>
                    </div>



                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <input id="printpagebutton" class="btn btn-default btn-lrg ajax" type="button" value="In Báo Cáo" onclick="printpage()" />
                    <input id="printchart" class="btn btn-default btn-lrg ajax loading-button-chart" type="button" value="Vẽ Biểu Đồ" />
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12" id="chartContainer" style="height: 500px; width: 100%;">

                    </div>
                </div>
            </div>
            
            

            <div class="row">
                <div class="col-lg-12">
                    <table id="example1" class="table table-bordered table-hover" style="border-color:Black;border-width: 0px;border-style:Solid;font-family:Tahoma;font-size:11px;border-collapse:collapse;border:1px solid;">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">STT</th>
                                <th style="background:#f9c19a;" colspan="11" class="text-center">Chi Tiết Đến</th>
                                <th style="background:#57c5e0;" colspan="9" class="text-center">Chi Tiết Đi</th>
                                <th style="background:#3ce892;" colspan="2" class="text-center">Tỉ Lệ Đáp Ứng Theo Chuyến</th>
                                <th rowspan="2" class="text-center">Tỷ lệ đáp ứng lũy kế theo KLg </th>

                            </tr>
                            <tr>
                                <th style="background:#f9c19a;" class="text-center">Thời gian</th>
                                <th style="background:#f9c19a;" class="text-center">ID chuyến </th>
                                <th style="background:#f9c19a;" class="text-center">Tên chuyến</th>
                                <th style="background:#f9c19a;" class="text-center">Mã Đơn Vị</th>
                                <th style="background:#f9c19a;" class="text-center">Tên Đơn Vị </th>
                                <th style="background:#f9c19a;" class="text-center">SL đến </th>
                                <th style="background:#f9c19a;" class="text-center">KL đến (kg)</th>
                                <th style="background:#f9c19a;" class="text-center">SL đến lũy kế</th>
                                <th style="background:#f9c19a;" class="text-center">KL đến lũy kế</th>
                                <th style="background:#f9c19a;" class="text-center">SL tồn lũy kế</th>
                                <th style="background:#f9c19a;" class="text-center">KLg tồn lũy kế</th>

                                <th style="background:#57c5e0;" class="text-center">Thời gian</th>
                                <th style="background:#57c5e0;" class="text-center">ID Tuyến </th>
                                <th style="background:#57c5e0;" class="text-center">Tên tuyến</th>
                                <th style="background:#57c5e0;" class="text-center">ID chuyến</th>
                                <th style="background:#57c5e0;" class="text-center">Tên chuyến </th>

                                <th style="background:#57c5e0;" class="text-center">SL đi </th>
                                <th style="background:#57c5e0;" class="text-center">KL đi (kg)</th>
                                <th style="background:#57c5e0;" class="text-center">SL đi lũy kế</th>
                                <th style="background:#57c5e0;" class="text-center">KL đi lũy kế</th>
                                <th style="background:#3ce892;" class="text-center">Đáp ứng (SL)</th>
                                <th style="background:#3ce892;" class="text-center">Đáp ứng (KLg)</th>
                            </tr>
                        </thead>
                        <tbody id="listdevelopactivity1"></tbody>
                    </table>
                </div>
                <div class="col-lg-12 loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>


        </div>
    </form>

</body>
</html>

<script src="/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.bootpag.min.js"></script>*@
<script src="/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Areas/Admin/Content/dist/js/adminlte.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
    


    var url_string = document.URL;
    var url = new URL(url_string);
    var bckhaithac = url.searchParams.get("bckhaithac");
    var date = url.searchParams.get("date");
    var phuongtienvanchuyen = url.searchParams.get("phuongtienvanchuyen");
    var changvanchuyen = url.searchParams.get("changvanchuyen");
    var tuyenvanchuyen = url.searchParams.get("tuyenvanchuyen");
    var chuyenvanchuyen = url.searchParams.get("chuyenvanchuyen");
    var tinhchapnhan = url.searchParams.get("tinhchapnhan");
    var donvichapnhan = url.searchParams.get("donvichapnhan");
    var tinhphattra = url.searchParams.get("tinhphattra");
    var donviphattra = url.searchParams.get("donviphattra");

    var checkbckhaithac = 0;
    checkbckhaithac = parseInt(bckhaithac);


    switch (checkbckhaithac) {
        case 0:
            checkbckhaithac = "Tất Cả"
            break;

        case 100916:
            checkbckhaithac = "100916 - HN EMS LT"
            break;
        //case 2:
        //    checkbckhaithac = "Miền Trung"
        //    break;
        //case 3:
        //    checkbckhaithac = "Miền Nam"

        //    break;
        default:
            break;
    }

    var checkphuongtienvanchuyen = 0;
    checkphuongtienvanchuyen = parseInt(phuongtienvanchuyen);

    switch (checkphuongtienvanchuyen) {
        case 0:
            checkphuongtienvanchuyen = "Bay"
            break;
        default:
            break;
    }

    var checkchangvanchuyen = 0;
    checkchangvanchuyen = parseInt(changvanchuyen);

    switch (checkchangvanchuyen) {
        case 0:
            checkchangvanchuyen = "Nội Bài - Tân Sơn Nhất"
            break;
        default:
            break;
    }

    var checktuyenvanchuyen = 0;
    checktuyenvanchuyen = parseInt(tuyenvanchuyen);

    switch (checktuyenvanchuyen) {
        case 0:
            checktuyenvanchuyen = "Tất Cả"
            break;
        default:
            break;
    }

    var checkchuyenvanchuyen = 0;
    checkchuyenvanchuyen = parseInt(chuyenvanchuyen);

    switch (checkchuyenvanchuyen) {
        case 0:
            checkchuyenvanchuyen = "Tất Cả"
            break;
        default:
            break;
    }

    var checktinhchapnhan = 0;
    checktinhchapnhan = parseInt(tinhchapnhan);

    switch (checktinhchapnhan) {
        case 0:
            checktinhchapnhan = "Miền Bắc(Trừ Hà Nội)"
            break;
        case 10:
            checktinhchapnhan = "Miền Bắc"
            break;
        case 100000:
            checktinhchapnhan = "Hà Nội"
            break;
        default:
            break;
    }

    var checkdonvichapnhan = 0;
    checkdonvichapnhan = parseInt(donvichapnhan);

    switch (checkdonvichapnhan) {
        case 0:
            checkdonvichapnhan = "Tất Cả"
            break;
        case 1:
            checkdonvichapnhan = "Bưu Điện Hà Nội"
            break;
        case 2:
            checkdonvichapnhan = "EMS Hà Nội"
            break;
        default:
            break;
    }

    var checktinhphattra = 0;
    checktinhphattra = parseInt(tinhphattra);

    switch (checktinhphattra) {
        case 0:
            checktinhphattra = "Hồ Chí Minh"
            break;
        default:
            break;
    }

    var checkdonviphattra = 0;
    checkdonviphattra = parseInt(donviphattra);

    switch (checkdonviphattra) {
        case 0:
            checkdonviphattra = "Tất Cả"
            break;
        default:
            break;
    }


    $(document).ready(function () {
        $('.box-footer').hide();
        $('.loading-button-chart').hide();

        document.getElementById("date").innerHTML = "<strong>" + date + "</strong>";
        document.getElementById("today").innerHTML = "<strong>Ngày Lập Báo Cáo:" + ddmmyyyy(); + "</strong>";
        document.getElementById("bckhaithac").innerHTML = "<strong>" + checkbckhaithac + "</strong>";
        document.getElementById("phuongtienvc").innerHTML = "<strong>" + checkphuongtienvanchuyen + "</strong>";
        document.getElementById("changvc").innerHTML = "<strong>" + checkchangvanchuyen + "</strong>";
        document.getElementById("tuyenvc").innerHTML = "<strong>" + checktuyenvanchuyen + "</strong>";
        document.getElementById("chuyenvc").innerHTML = "<strong>" + checkchuyenvanchuyen + "</strong>";
        document.getElementById("tinhchapnhan").innerHTML = "<strong>" + checktinhchapnhan + "</strong>";
        document.getElementById("donvichapnhan").innerHTML = "<strong>" + checkdonvichapnhan + "</strong>";
        document.getElementById("tinhphattra").innerHTML = "<strong>" + checktinhphattra + "</strong>";
        document.getElementById("donviphattra").innerHTML = "<strong>" + checkdonviphattra + "</strong>";

        // goi ham Detail
        detail_Roadway1();

    });

    //Phần JS để lấy dữ liệu date theo kiểu yyyyMMdddd
    function ddmmyyyy() {
        var x = new Date();
        var y = x.getFullYear().toString();
        var m = (x.getMonth() + 1).toString();
        var d = x.getDate().toString();
        var h = x.getHours().toString();
        var mi = x.getMinutes().toString();
        (d.length == 1) && (d = '0' + d);
        (m.length == 1) && (m = '0' + m);
        var ddmmyyyy = d + '/' + m + '/' + y + '&nbsp;' + h + ':' + mi
        return ddmmyyyy;
    }

    //Phần bỏ button in E2 khi kích vào
    function printpage() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
    }

    

    //Phần JS để lấy dữ liệu theo kiểu JSON rồi bind vào table theo ID
    function detail_Roadway1() {
        $.ajax({
            url: '@Url.Action("ListDevelopActivity_BDHN_DI_HCM", "DevelopActivity")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'json',
            data:
                {
                    workcenter: bckhaithac,
                    AcceptDate: date,
                    arriveprovince: tinhchapnhan,
                    arrivepartner: donvichapnhan,

                },
            success: function (data) {
                var str_html = "";
                var str_body = "";
                var a = 1;
                $.each(data.ListBDHN_DI_HCMReport, function (i, item) {
                    str_body += '<tr>';
                    str_body += '<td>' + a++ + '</td>';
                    str_body += '<td style="width:100px;">' + data.ListBDHN_DI_HCMReport[i].TGDEN + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].ARRIVEIDVNPOST + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].ARRIVEMAILROUTENAME + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].ARRIVEFROMPOSCODE + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].ARRIVEFROMPOSNAME + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].ARRIVEQUANTITY + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].ARRIVEWEIGHT_KG + '</td>';

                    str_body += '<td style="background:#f9c19a;">' + data.ListBDHN_DI_HCMReport[i].ARRIVEQUANTITY_LK + '</td>';
                    str_body += '<td style="background:#f9c19a;">' + data.ListBDHN_DI_HCMReport[i].ARRIVEWEIGHT_KG_LK + '</td>';

                    str_body += '<td style="background:#f9c19a;">' + data.ListBDHN_DI_HCMReport[i].ARRIVEQUANTITY_TON_LK + '</td>';
                    str_body += '<td style="background:#f9c19a;">' + data.ListBDHN_DI_HCMReport[i].ARRIVEWEIGHT_KG_TON_LK + '</td>';


                    str_body += '<td style="width:100px;">' + data.ListBDHN_DI_HCMReport[i].TGDI + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].LEAVEIDVNPOST + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].LEAVEMAILROUTENAME + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].LEAVETOPOSCODE + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].LEAVETOPOSNAME + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].LEAVEQUANTITY + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].LEAVEWEIGHT_KG + '</td>';

                    str_body += '<td style="background:#57c5e0;">' + data.ListBDHN_DI_HCMReport[i].LEAVEQUANTITY_LK + '</td>';
                    str_body += '<td style="background:#57c5e0;">' + data.ListBDHN_DI_HCMReport[i].LEAVEWEIGHT_KG_LK + '</td>';

                    str_body += '<td style="background:#3ce892;">' + data.ListBDHN_DI_HCMReport[i].DAPUNGSL + '</td>';
                    str_body += '<td style="background:#3ce892;">' + data.ListBDHN_DI_HCMReport[i].DAPUNGKL + '</td>';
                    str_body += '<td>' + data.ListBDHN_DI_HCMReport[i].CHECK_TG + '</td>';
                    str_body += '</tr>';
                });
                str_html += str_body;
                

                if (data.Code == '01') {
                    $('.loading-element').hide();
                    alert("Không Có Số Liệu");
                }
                else {
                    $('.loading-element').hide();
                    $('#listdevelopactivity1').html(str_html);
                    $('.loading-button-chart').show();
                    $('.box-footer').show();
                   
                }
            }
        })
    }

    function DevelopChart() {
        var data = [];

        var dataSeries = { type: "line", showInLegend: true, legendText: "SL Đến", };
        var dataPoints = [];
        var count = $('#example1 tr').length;
        count -= 2;

        for (var i = 2; i < count; i += 1) {
            var ai = document.getElementById("example1").rows[i].cells[23].innerText;
            var bi = parseInt(document.getElementById("example1").rows[i].cells[6].innerText);
            dataPoints.push({
                label: ai,
                y: bi
            });
        }

        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);

        var dataSeries = { type: "line", showInLegend: true, legendText: "SL Đi", };
        var dataPoints = [];

        for (var i = 2; i < count; i += 1) {
            var ai = document.getElementById("example1").rows[i].cells[23].innerText;
            var ci = parseInt(document.getElementById("example1").rows[i].cells[17].innerText);
            dataPoints.push({
                label: ai,
                y: ci
            });
        }


        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);

        var dataSeries = { type: "line", showInLegend: true, legendText: "SL Tồn Lũy kế", };
        var dataPoints = [];

        for (var i = 2; i < count; i += 1) {
            var ai = document.getElementById("example1").rows[i].cells[23].innerText;
            var ci = parseInt(document.getElementById("example1").rows[i].cells[10].innerText);
            dataPoints.push({
                label: ai,
                y: ci
            });
        }


        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);



        var dataSeries = { type: "line", showInLegend: true, legendText: "SL Đến Lũy Kế", };
        var dataPoints = [];

        for (var i = 2; i < count; i += 1) {
            var ai = document.getElementById("example1").rows[i].cells[23].innerText;
            var ci = parseInt(document.getElementById("example1").rows[i].cells[8].innerText);
            dataPoints.push({
                label: ai,
                y: ci
            });
        }


        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);

        var dataSeries = { type: "line", showInLegend: true, legendText: "SL Đi Lũy Kế", };
        var dataPoints = [];

        for (var i = 2; i < count; i += 1) {
            var ai = document.getElementById("example1").rows[i].cells[23].innerText;
            var ci = parseInt(document.getElementById("example1").rows[i].cells[19].innerText);
            dataPoints.push({
                label: ai,
                y: ci
            });
        }


        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);


        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            theme: "dark1",
            legend: {
                verticalAlign: "top",
                cursor: "pointer",
                itemclick: function (e) {
                    //console.log("legend click: " + e.dataPointIndex);
                    //console.log(e);
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else {
                        e.dataSeries.visible = true;
                    }

                    e.chart.render();
                }
            },
            title: {
                text: "Báo cáo hoạt động sàn khai thác nội tỉnh theo ngày xác nhận đến"
            },
            axisY: {
                minimum: 0,
            },
            data: data  // random generator below
        });


        chart.render();
    }
    
    
    $("#printchart").click(function () {
        DevelopChart();
        
    });
    
    
</script>



