@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">


<title>Chi tiết túi gói</title>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Chi tiết túi gói</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row"  style="margin-bottom:20px;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Từ Ngày </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Đến Ngày</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Mã Túi:</label>
                    <input class="form-control " type="text" maxlength="30" id="receptacleID">
                </div>
                <div class="col-md-3" style="padding-top:25px;">
                    <button type="button" class="btn btn-default btn-lrg ajax" id="btnreport">Tìm Kiếm</button>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="button" id="btnexport" class="btn btn-default btn-lrg ajax" data-baseurl="@Url.Action("Export", "FindReceptacle")" value="Xuất Excel" />

                </div>
            </div>
            
            
            <div style="overflow-x:auto;">
                <table id="example1" class="table table-bordered table-hover" style="font-family:Tahoma;font-size:15px;">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center">STT</th>
                            <th class="text-center">Ngày</th>
                            <th class="text-center">Số hiệu chuyến bay</th>
                            <th class="text-center">Mô tả</th>
                            <th class="text-center">Vị Trí</th>
                            <th class="text-center">Số hiệu lô hàng /Chuyến thư</th>
                        </tr>
                    </thead>
                    <tbody id="listreceptacle"></tbody>
                </table>
                <div class="loading-element">
                    <i class="fa fa-spinner fa-spin"></i>
                    Vui lòng chờ giây lát...
                </div>
            </div>
            

            <div class="row">
                <div id="page-selection" class="col-sm-12 text-center">
                </div>
            </div>
            
            
            
        </div>
        
    </div>


</section>


<script>
    

    $(document).ready(function () {
        var d = new Date();
        var currMonth = d.getMonth() - 1;
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);
        

        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight:true
        }).datepicker("setDate", startDate);

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy",
            todayHighlight:true
        }).datepicker("setDate", "0");

        $('.loading-element').hide();
        $('#btnexport').hide();
       
    });

    $("#btnreport").click(function () {
        // goi ham Detail
        $("#listreceptacle tr").remove();
        detail();

    });

    
    //Export Excel
    $('#btnexport').click(function () {
        // build the url
        var url = $(this).data('baseurl') + '?fromdate=' + $('#fromdate').val() + '&todate=' + $('#todate').val() + '&receptacle_id=' + $('#receptacleID').val();
        // redirect
        location.href = url;
    });

    
    //Phần chi tiết của mã túi gói
    
    function detail() {
        var receptacleID;

        if (document.getElementById('receptacleID').value == ""
        || document.getElementById('receptacleID').value == undefined) {
            receptacleID = 0;
        }
        else {
            receptacleID = document.getElementById('receptacleID').value;
        }

        $.ajax({
            url: '@Url.Action("ListReceptacleReport", "FindReceptacle")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    receptacle_id: receptacleID,
                    fromdate: $('#fromdate').val(),
                    todate: $('#todate').val()

                },
            success: function (result) {
                    $('.loading-element').hide();
                    $('#listreceptacle').html(result);
                    $('#btnexport').show();
                
            }
        })
    }

    
    
    

    
</script>


