@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@


<!-- bootstrap datepicker -->
@*<link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">*@
<!-- Bootstrap Color Picker -->
@*<link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">*@

<title>Hành Trình Đường Thư</title>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Hành Trình Đường Thư</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Vùng</label>
                        <select class="form-control select2" style="width: 100%;" id="zone">
                            <option selected="selected" value="0">Tất cả</option>
                            <option  value="1">Miền Bắc</option>
                            <option  value="2">Miền Trung</option>
                            <option  value="3">Miền nam</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Loại Vận Chuyển</label>
                        <select class="form-control select2" style="width: 100%;" id="loaivanchuyen">
                            <option selected="selected" value="0">Tất cả</option>
                            <option value="1">Chuyên Ngành</option>
                            <option value="2">Xã Hội</option>
                            <option value="2">Tự Vận Chuyển</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Bưu Cục</label>
                        <select class="form-control select2" style="width: 100%;" id="buucuc">
                            <option selected="selected" value="0">Tất cả</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Đơn Vị Vận Chuyển</label>
                        <select class="form-control select2" style="width: 100%;" id="tinhnhan">
                            <option selected="selected" value="0">Tất cả</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <!-- /.form-group -->
                    
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Loại Đường Thư</label>
                        <select class="form-control select2" style="width: 100%;" id="buucucdong">
                            <option selected="selected" value="0">Tất cả</option>
                            <option  value="1">Đường Bộ</option>
                            <option  value="2">Đường Bay</option>
                            <option  value="3">Đường Thủy</option>
                            <option  value="4">Đường Sắt</option>
                        </select>
                    </div>
                    
                    <!-- /.form-group -->
                    <!-- /.form-group -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lrg ajax" id="btnreport">Hiển Thị</button>
                </div>
            </div>
            <div class="box-header">
                <h3 class="box-title">Báo Cáo Quản Lý Chỉ Tiêu Công Đoạn</h3>
            </div>
            <div style="overflow-x:auto;">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th class="text-center">STT</th>
                            <th class="text-center">Sự Kiện</th>
                            <th class="text-center">Trục TG</th>
                            <th class="text-center">ID Đến</th>
                            <th class="text-center">Tên HT Đến</th>
                            <th class="text-center">TG Đến</th>
                            <th class="text-center">Cấp ĐT</th>
                            <th class="text-center">Loại ĐT</th>
                            <th class="text-center">PT</th>
                            <th class="text-center">ID Cắt Hàng</th>
                            <th class="text-center">Tên Điểm Cắt Hàng</th>
                            <th class="text-center">TG Cắt Hàng</th>
                            <th class="text-center">Dịch Vụ</th>
                            <th class="text-center">ID đi</th>
                            <th class="text-center">Tên HT Đi</th>
                            <th class="text-center">TG Đi</th>
                            <th class="text-center">Cấp DT</th>
                            <th class="text-center">Loại DT</th>
                            <th class="text-center">PT</th>
                            <th class="text-center">Hiển Thị</th>

                        </tr>
                    </thead>
                    <tbody id="listexpressroad"></tbody>
                </table>
            </div>
            <div class="loading-element">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            
            
        </div>
    </div>


        <!-- /.box-body -->





</section>



<script>
    $("#btnreport").click(function () {

        // goi ham Detail
        $("#listexpressroad tr").remove();
        detail();

    });

   

    $(document).ready(function () {
        $('.loading-element').hide();
    });

    //Phần chi tiết của bảng tổng hợp sản lượng đi phát
    function detail(p) {
        $.ajax({
            url: '@Url.Action("ListDetailedExpressRoadReport", "ExpressRoad")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            method: 'GET',
            dataType: 'html',
            data:
                {
                    zone: $("#zone").val(),
                    

                },
            success: function (result) {
                // sau khi chay ham thanh cong lay ra ket qua thi bind html vao id listexpressroad
                $('.loading-element').hide();
                $('#listexpressroad').html(result);

            }
        })
    }
    


</script>


