@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EMS</h1>
    <p class="lead">
        Công ty Cổ phần Chuyển Phát Nhanh Bưu điện được thành lập theo quyết định phê duyệt đề án số 29/QĐ-ĐABC-HĐQT ngày 24 tháng 1 năm 2005 của Hội đồng Quản trị Tổng công ty Bưu chính Viễn thông Việt Nam.

        Trụ sở chính: 1 Tân Xuân, Xuân Đỉnh, Từ Liêm, TP Hà Nội.
        Điện thoại: (04) 3757 5577 – Fax: (04) 3757 6144
        Email: nghiepvu@ems.com.vn
    </p>
    <p><a href="http://www.ems.com.vn/" class="btn btn-primary btn-lg">Tìm Hiểu Thêm &raquo;</a></p>
</div>

<div class="row">

</div>
