
@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
@*<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">*@
<title>Create</title>

<section class="content">
    
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Create</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>


            <!-- /.box-header -->

            <div class="box-body">
                @*<form class="form-control" id="createform"> </form>*@
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="CUSTOMER_CODE">CUSTOMER_CODE:</label>
                                    <label id="CUSTOMER_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập CUSTOMER_CODE</label>
                                    <input class="form-control " type="text" id="CUSTOMER_CODE">
                                </div>
                                <div class="form-group">
                                    <label for="CONTACT_NAME">CONTACT_NAME:</label>
                                    <label id="CONTACT_NAME_ERROR" style="color:#ff0000">Vui Lòng Nhập CONTACT_NAME</label>
                                    <input class="form-control " type="text" id="CONTACT_NAME">
                                </div>
                                <div class="form-group">
                                    <label for="DATE_CREATE">DATE_CREATE:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control pull-right" id="DATE_CREATE" type="text" data-date-format="dd/mm/yyyy">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="DATE_END">DATE_END:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input class="form-control pull-right" id="DATE_END" type="text" data-date-format="dd/mm/yyyy">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="CONTACT_PHONE_WORK">CONTACT_PHONE_WORK:</label>
                                    <label id="CONTACT_PHONE_WORK_ERROR" style="color:#ff0000">Vui Lòng Nhập CONTACT_PHONE_WORK</label>
                                    <input class="form-control " type="text" id="CONTACT_PHONE_WORK" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                </div>
                                <div class="form-group">
                                    <label for="BUSINESS_TAX">BUSINESS_TAX:</label>
                                    <label id="BUSINESS_TAX_ERROR" style="color:#ff0000">Vui Lòng Nhập BUSINESS_TAX</label>
                                    <input class="form-control " type="text" id="BUSINESS_TAX" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="GENERAL_EMAIL">GENERAL_EMAIL:</label>
                                    <label id="GENERAL_EMAIL_ERROR" style="color:#ff0000">Vui Lòng Nhập GENERAL_EMAIL</label>
                                    <label id="CHECK_GENERAL_EMAIL" style="color:#0094ff">Vui Lòng Nhập Email Đúng Định Dạng</label>
                                    <input class="form-control " type="text" id="GENERAL_EMAIL" onkeyup="checkEmail('GENERAL_EMAIL')">
                                </div>
                                <div class="form-group">
                                    <label for="UNIT_CODE">UNIT_CODE:</label>
                                    <label id="UNIT_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập UNIT_CODE</label>
                                    <input class="form-control " type="text" id="UNIT_CODE" maxlength="11" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                </div>
                                <div class="form-group">
                                    <label for="CONTRACT_NUMBER">CONTRACT_NUMBER:</label>
                                    <label id="CONTRACT_NUMBER_ERROR" style="color:#ff0000">Vui Lòng Nhập CONTRACT_NUMBER</label>
                                    <input class="form-control " type="text" id="CONTRACT_NUMBER">
                                </div>
                                <div class="form-group">
                                    <label for="CUSTOMER_ACTIVE">CUSTOMER_ACTIVE:</label>
                                    <select class="form-control select2" style="width: 100%;" id="CUSTOMER_ACTIVE">
                                        <option selected="selected" value="0">Chưa Kích Hoạt</option>
                                        <option value="1">Kích Hoạt </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="TOTAL_CUSTOMER_CODE">TOTAL_CUSTOMER_CODE:</label>
                                    <label id="TOTAL_CUSTOMER_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập TOTAL_CUSTOMER_CODE</label>
                                    <textarea rows="2" class="form-control" id="TOTAL_CUSTOMER_CODE"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="PAYMENT_ADDRESS">PAYMENT_ADDRESS:</label>
                                    <label id="PAYMENT_ADDRESS_ERROR" style="color:#ff0000">Vui Lòng Nhập PAYMENT_ADDRESS</label>
                                    <input class="form-control " type="text" id="PAYMENT_ADDRESS">
                                    @*<textarea rows="2" class="form-control" id="CONTACT_PROVINCE"></textarea>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="PAYMENT_METHOD">PAYMENT_METHOD:</label>
                                    <select class="form-control select2" style="width: 100%;" id="PAYMENT_METHOD">
                                        <option selected="selected" value="TM">Tiền Mặt</option>
                                        <option value="CK">Chuyển Khoản </option>
                                    </select>
                                    @*<input class="form-control " type="text" id="CONTACT_DISTRICT">*@
                                </div>
                                <div class="form-group">
                                    <label for="CONTACT_PROVINCE">CONTACT_PROVINCE:</label>
                                    <label id="CONTACT_PROVINCE_ERROR" style="color:#ff0000">Vui Lòng Nhập CONTACT_PROVINCE</label>
                                    <select class="form-control select2" style="width: 100%;" id="CONTACT_PROVINCE"></select>
                                    @*<textarea rows="2" class="form-control" id="CONTACT_PROVINCE"></textarea>*@
                                </div>
                                <div class="form-group">
                                    <label for="CONTACT_DISTRICT">CONTACT_DISTRICT:</label>
                                    <label id="CONTACT_DISTRICT_ERROR" style="color:#ff0000">Vui Lòng Nhập CONTACT_DISTRICT</label>
                                    <select class="form-control select2" style="width: 100%;" id="CONTACT_DISTRICT"></select>
                                </div>
                                <div class="form-group">
                                    <label for="EMPLOYEE_DEBT_CODE">EMPLOYEE_DEBT_CODE:</label>
                                    <label id="EMPLOYEE_DEBT_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập EMPLOYEE_DEBT_CODE</label>
                                    <input class="form-control " type="text" id="EMPLOYEE_DEBT_CODE">
                                </div>
                                <div class="form-group">
                                    <label for="EMPLOYEE_SALE_CODE">EMPLOYEE_SALE_CODE:</label>
                                    <label id="EMPLOYEE_SALE_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập EMPLOYEE_SALE_CODE</label>
                                    <input class="form-control " type="text" id="EMPLOYEE_SALE_CODE">
                                </div>
                            </div>
                        </div>



                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/Admin/UserManagement/UserManagementDetailReport" class="btn btn-default btn-md"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info btn-lrg ajax" id="btnreportadd"><span class="glyphicon glyphicon-plus"></span>Create </button>
                                @*<button type="button" class="btn btn-default btn-lrg ajax" id="btnreportadd">Create </button>*@
                            </div>
                        </div>
                    </div>
                    
               
                
            </div>


        </div>
   
    





            <!-- /.box-body -->



</section>
@*<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>*@
<script type="text/javascript" src="~/Areas/Admin/Content/bower_components/ValidateJS/CreateValidateJS.js"></script>
<script type="text/javascript">
    
    
    $(function () {
        $('#DATE_CREATE').datepicker()
        $("#DATE_CREATE").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    })


    $(function () {
        $('#DATE_END').datepicker()
        $("#DATE_END").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    })

    //Phần lấy dữ liệu tỉnh Nhận
    $(document).ready(function () {

        $.getJSON("/UserManagement/ProvinceCode", function (data) {
            $.each(data, function (i, data) {

                $('<option>',
                   {
                       value: data.PROVINCECODE,
                       text: data.PROVINCENAME
                   }).html(data.PROVINCECODE + '-' + data.PROVINCENAME).appendTo("#CONTACT_PROVINCE");
            });
        })

    });

    ////Lần đầu load quận= 10
    $(document).ready(function () {
        $.ajax({
            url: "/UserManagement/DistrictCode",
            dataType: "json",
            data: { provincecode: 10 },
            success: function (data) {
                $('#CONTACT_DISTRICT').html('<option>DISTRICT </option>');
                jQuery.each(data, function (i, val) {
                    $('#CONTACT_DISTRICT').html($('#CONTACT_DISTRICT').html() +
                        "<option value='" + val.DISTRICTCODE + "'>" + val.DISTRICTCODE + '-' + val.DISTRICTNAME + "</option>");
                });
            }
        });
    });
    //Sự kiện thay đổi quận theo tỉnh
    $(document).ready(function () {
        $('#CONTACT_PROVINCE').change(function () {
            $.ajax({
                url: "/UserManagement/DistrictCode",
                dataType: "json",
                data: { provincecode: $("#CONTACT_PROVINCE").val() },
                success: function (data) {
                    $('#CONTACT_DISTRICT').html('<option>DISTRICT </option>');
                    jQuery.each(data, function (i, val) {
                        $('#CONTACT_DISTRICT').html($('#CONTACT_DISTRICT').html() +
                            "<option value='" + val.DISTRICTCODE + "'>" + val.DISTRICTCODE + '-' + val.DISTRICTNAME + "</option>");
                    });
                }
            });
        })
    });

    //Phần dữ liệu chi tiết người dùng nhập vào
    function detail(p) {
        $.ajax({
            url: '@Url.Action("CreateUserReport", "UserManagement")',
            dataType: 'html',
            data:
                {

                    CUSTOMER_CODE: $('#CUSTOMER_CODE').val(),

                    CONTACT_NAME: $('#CONTACT_NAME').val(),

                    DATE_CREATE: $('#DATE_CREATE').val(),

                    DATE_END: $('#DATE_END').val(),

                    CONTACT_PHONE_WORK: $('#CONTACT_PHONE_WORK').val(),

                    BUSINESS_TAX: $('#BUSINESS_TAX').val(),

                    GENERAL_EMAIL: $('#GENERAL_EMAIL').val(),

                    UNIT_CODE: $('#UNIT_CODE').val(),

                    CONTRACT_NUMBER: $('#CONTRACT_NUMBER').val(),

                    CUSTOMER_ACTIVE: $('#CUSTOMER_ACTIVE').val(),

                    TOTAL_CUSTOMER_CODE: $('#TOTAL_CUSTOMER_CODE').val(),

                    PAYMENT_ADDRESS: $('#PAYMENT_ADDRESS').val(),

                    PAYMENT_METHOD: $('#PAYMENT_METHOD').val(),

                    CONTACT_PROVINCE: $('#CONTACT_PROVINCE').val(),

                    CONTACT_DISTRICT: $('#CONTACT_DISTRICT').val(),

                    EMPLOYEE_DEBT_CODE: $('#EMPLOYEE_DEBT_CODE').val(),

                    EMPLOYEE_SALE_CODE: $('#EMPLOYEE_SALE_CODE').val(),

                    
                },
            success: function (result) {
                alert("Thêm Thành Công");


            }
        })
    }
</script>








