
@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
@*<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">*@
<title>Create</title>

<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Tạo Kênh</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <div class="box-body">
            <!-- /.box-header -->
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CUSTOMER_CODE">Mã Khách Hàng:</label>
                                <label id="CUSTOMER_CODE_ERROR" style="color:#ff0000">Vui Lòng Nhập Mã Khách Hàng</label>
                                <input class="form-control " type="text" id="CUSTOMER_CODE">
                            </div>
                            <div class="form-group">
                                <label for="CONTACT_NAME">Tên Khách Hàng:</label>
                                <label id="CONTACT_NAME_ERROR" style="color:#ff0000">Vui Lòng Nhập Tên Khách Hàng</label>
                                <input class="form-control " type="text" id="CONTACT_NAME">
                            </div>
                            <div class="form-group">
                                <label for="CONTACT_PHONE_WORK">Số Điện Thoại:</label>
                                <label id="CONTACT_PHONE_WORK_ERROR" style="color:#ff0000">Vui Lòng Nhập Số Điện Thoại</label>
                                <input class="form-control " type="text" id="CONTACT_PHONE_WORK" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="GENERAL_EMAIL">Email:</label>
                                <label id="GENERAL_EMAIL_ERROR" style="color:#ff0000">Vui Lòng Nhập Email</label>
                                <label id="CHECK_GENERAL_EMAIL" style="color:#0094ff">Vui Lòng Nhập Email Đúng Định Dạng</label>
                                <input class="form-control " type="text" id="GENERAL_EMAIL" onkeyup="checkEmail('GENERAL_EMAIL')">
                            </div>
                            <div class="form-group">
                                <label for="CONTACT_ADDRESS">Địa Chỉ Liên Hệ:</label>
                                <textarea rows="2" class="form-control" id="CONTACT_ADDRESS"></textarea>
                            </div>
                            @*<div class="form-group">
                                <label for="UNIT_CODE">Mã Bưu Cục Khai Thác:</label>
                                <input class="form-control " type="text" id="UNIT_CODE" >
                            </div>*@
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CONTACT_PROVINCE">Mã Tỉnh:</label>
                                <select class="form-control select2" style="width: 100%;" id="CONTACT_PROVINCE">
                                    <option value="0" selected="selected">Chọn Tỉnh</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="CONTACT_DISTRICT">Mã Quận:</label>
                                <select class="form-control select2" style="width: 100%;" id="CONTACT_DISTRICT"></select>
                            </div>
                            <div class="hidden">
                                <label for="GetID">ID:</label>
                                <input class="form-control " type="text" value="" name="GetID">
                            </div>
                        </div>
                    </div>



                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/Admin/UserManagement/UserManagementDetailReport" class="btn btn-default btn-md"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                        </div>
                        <div class="col-md-4">

                            <div class="col-md-4">
                                <button type="button" class="btn btn-success btn-lrg ajax loading-element-add" id="btnreportadd"><span class="glyphicon glyphicon-plus-sign"></span>Tạo Kênh </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success btn-lrg ajax loading-element-update btnreportupdate"><span class="glyphicon glyphicon-plus-sign"></span>Cập Nhật </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="list_channel">

            </div>
        </div>
       </div>







            <!-- /.box-body -->



</section>
<script type="text/javascript" src="~/Areas/Admin/Content/bower_components/ValidateJS/CreateValidateJS.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        // goi ham Detail
        detail_id_user();

    });

    var url_string = document.URL;
    var url = new URL(url_string);
    var customer_id = url.searchParams.get("id");


    //Phần JS gọi đến dữ liệu của bảng business_profile
    function detail_id_user() {
        $.ajax({
            url: '@Url.Action("ListDetailed_ID_BP_UserManagementReport", "UserManagement")',
            dataType: 'html',
            data: {
                customer_id: customer_id
            },
            success: function (result) {
                // sau khi chay ham thanh cong lay ra ket qua thi bind html vao id business_profile
                $('#list_channel').html(result);

            }
        })
    }

    function checkEmail(element) {
        if ($("#" + element).val() != "") {
            if (!validateEmail($("#" + element).val())) {
                var emails = document.getElementById("GENERAL_EMAIL");
                $("#GENERAL_EMAIL_ERROR").hide();
                $("#CHECK_GENERAL_EMAIL").show();
                emails.focus();
                return false;
            }
        }
        $("#CHECK_GENERAL_EMAIL").hide();
        return true;
    }



    function checkCUSTOMER_CODE() {
        if (document.getElementById('CUSTOMER_CODE').value == ""
            || document.getElementById('CUSTOMER_CODE').value == undefined) {
            $("#CUSTOMER_CODE_ERROR").show();
            return false;
        }
        else {
            return true;
        }
    }

    function checkCONTACT_NAME() {
        if (document.getElementById('CONTACT_NAME').value == ""
            || document.getElementById('CONTACT_NAME').value == undefined) {
            $("#CONTACT_NAME_ERROR").show();
            return false;
        }
        else {
            return true;
        }
    }


    function checkCONTACT_PHONE_WORK() {
        if (document.getElementById('CONTACT_PHONE_WORK').value == ""
            || document.getElementById('CONTACT_PHONE_WORK').value == undefined) {
            $("#CONTACT_PHONE_WORK_ERROR").show();
            return false;
        }
        else {
            return true;
        }
    }

    function checkGENERAL_EMAIL() {
        if (document.getElementById('GENERAL_EMAIL').value == ""
            || document.getElementById('GENERAL_EMAIL').value == undefined) {
            $("#GENERAL_EMAIL_ERROR").show();
            return false;
        }
        else {
            return true;
        }
    }


    $(document).ready(function () {
        $("#CHECK_GENERAL_EMAIL").hide();

        $("#CUSTOMER_CODE_ERROR").hide();

        $("#CONTACT_NAME_ERROR").hide();

        $("#CONTACT_PHONE_WORK_ERROR").hide();

        $("#GENERAL_EMAIL_ERROR").hide();


    });

    $("#btnreportadd").on('click', function () {


        if (checkCUSTOMER_CODE() == true && checkCONTACT_NAME() == true && checkCONTACT_PHONE_WORK() == true && checkGENERAL_EMAIL() == true) {
            detail();
            $("list_id_user tr").remove();

        }

        if (checkCUSTOMER_CODE() == true) {
            $("#CUSTOMER_CODE_ERROR").hide();
        }
        else {
            $("#CUSTOMER_CODE_ERROR").show();

        }

        if (checkCONTACT_NAME() == true) {
            $("#CONTACT_NAME_ERROR").hide();
        }
        else {
            $("#CONTACT_NAME_ERROR").show();

        }


        if (checkCONTACT_PHONE_WORK() == true) {
            $("#CONTACT_PHONE_WORK_ERROR").hide();
        }
        else {
            $("#CONTACT_PHONE_WORK_ERROR").show();

        }

        if (checkGENERAL_EMAIL() == true) {
            $("#GENERAL_EMAIL_ERROR").hide();
        }
        else {
            $("#GENERAL_EMAIL_ERROR").show();

        }

    });


    //Phần lấy dữ liệu tỉnh Nhận
    $(document).ready(function () {

        $.getJSON("/UserManagement/ProvinceCode", function (data) {
            $.each(data, function (i, data) {

                $('<option>',
                   {
                       value: data.PROVINCECODE,
                       text: data.PROVINCENAME
                   }).html(data.PROVINCECODE + '-' + data.PROVINCENAME).appendTo("#CONTACT_PROVINCE");
            });
        })

    });

    ////Lần đầu load quận= 10
    $(document).ready(function () {
        $.ajax({
            url: "/UserManagement/DistrictCode",
            dataType: "json",
            data: { provincecode: 10 },
            success: function (data) {
                $('#CONTACT_DISTRICT').html('<option>Chọn Quận/ Huyện </option>');
                jQuery.each(data, function (i, val) {
                    $('#CONTACT_DISTRICT').html($('#CONTACT_DISTRICT').html() +
                        "<option value='" + val.DISTRICTCODE + "'>" + val.DISTRICTCODE + '-' + val.DISTRICTNAME + "</option>");
                });
            }
        });
    });
    //Sự kiện thay đổi quận theo tỉnh
    $(document).ready(function () {
        $('#CONTACT_PROVINCE').change(function () {
            $.ajax({
                url: "/UserManagement/DistrictCode",
                dataType: "json",
                data: { provincecode: $("#CONTACT_PROVINCE").val() },
                success: function (data) {
                    $('#CONTACT_DISTRICT').html('<option>Chọn Quận/ Huyện </option>');
                    jQuery.each(data, function (i, val) {
                        $('#CONTACT_DISTRICT').html($('#CONTACT_DISTRICT').html() +
                            "<option value='" + val.DISTRICTCODE + "'>" + val.DISTRICTCODE + '-' + val.DISTRICTNAME + "</option>");
                    });
                }
            });
        })
    });

    var url_string = document.URL;
    var url = new URL(url_string);
    var customer_id = url.searchParams.get("id");

    //Phần dữ liệu chi tiết người dùng nhập vào
    function detail() {
        $.ajax({
            url: '@Url.Action("CreateChannelReport", "UserManagement")',
            method: 'GET',
            dataType: 'html',
            data:
                {

                    CUSTOMER_CODE: $('#CUSTOMER_CODE').val(),

                    CONTACT_NAME: $('#CONTACT_NAME').val(),

                    CONTACT_PHONE_WORK: $('#CONTACT_PHONE_WORK').val(),

                    CONTACT_ADDRESS: $('#CONTACT_ADDRESS').val(),

                    GENERAL_EMAIL: $('#GENERAL_EMAIL').val(),

                    //UNIT_CODE: $('#UNIT_CODE').val(),

                    CONTACT_PROVINCE: $('#CONTACT_PROVINCE').val(),

                    CONTACT_DISTRICT: $('#CONTACT_DISTRICT').val(),

                    CUSTOMER_ID: customer_id,

                },
            success: function (result) {
                alert("Thêm Kênh Thành Công");
                location.reload();

            }
        })
    }

    $(document).ready(function () {
        $('.loading-element-update').hide();
    });

    //Phần sửa dữ liệu chi tiết người dùng nhập vào
    $('.btnreportupdate').click(function (e) {
        var edit_id = $('input[name="GetID"]').val();
        $.ajax({
            url: '@Url.Action("EditChannelReport", "UserManagement")',
            method: 'GET',
            dataType: 'html',
            data:
                {

                    CUSTOMER_CODE: $('#CUSTOMER_CODE').val(),

                    CONTACT_NAME: $('#CONTACT_NAME').val(),

                    CONTACT_PHONE_WORK: $('#CONTACT_PHONE_WORK').val(),

                    CONTACT_ADDRESS: $('#CONTACT_ADDRESS').val(),

                    GENERAL_EMAIL: $('#GENERAL_EMAIL').val(),

                    //UNIT_CODE: $('#UNIT_CODE').val(),

                    CONTACT_PROVINCE: $('#CONTACT_PROVINCE').val(),

                    CONTACT_DISTRICT: $('#CONTACT_DISTRICT').val(),

                    CUSTOMER_ID: customer_id,

                    EDIT_ID: edit_id,


                },
            success: function (result) {
                alert("Sửa Kênh Thành Công");
                setTimeout(function () {
                    location.reload();
                }, 3000
               );
            }
        });
    });

</script>








