
@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">

<title>Edit</title>

<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Edit</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>


        <!-- /.box-header -->
        <div class="box-body" id="list_id_user">
            
            </div>
        </div>





            <!-- /.box-body -->



</section>
<script>
    var url_string = document.URL;
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    

    $(document).ready(function () {

        // goi ham Detail

        detail_id_user();

    });




    //Phần JS gọi đến dữ liệu của chi tiết bản kê E2
    function detail_id_user() {
        $.ajax({
            url: '@Url.Action("ListDetailed_ID_UserManagementReport", "UserManagement")',
            dataType: 'html',
            data: {
                edit_id: id
            },
            success: function (result) {
                // sau khi chay ham thanh cong lay ra ket qua thi bind html vao id list_e2
                $('#list_id_user').html(result);

            }
        })
    }

</script>









