
@{
//  Layout = null;
}


<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
@*<link rel="stylesheet" href="/Areas/Admin/Content/plugins/Print.js-1.0.35/css/print.css">*@
@*<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css" />*@
<!-- bootstrap datepicker -->
@*<link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">*@
<!-- Bootstrap Color Picker -->
@*<link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">*@
<title>Theo Dõi Đơn Hàng</title>

<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Theo Dõi Đơn Hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>


        <!-- /.box-header -->
        <div class="box-header">
            <div class="row">
                <div class="col-md-4">
                    <label>Từ Ngày </label>
                </div>
                <div class="col-md-4">
                    <label>Đến Ngày</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="startdate" type="text" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="enddate" type="text" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <label for="ide2">Mã Khách Hàng:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @*<input class="form-control" type="text" id="ide2" name="ide2">*@
                    <textarea rows="2" class="form-control" id="customercode"></textarea>
                </div>
                <div class="col-lg-6">
                    @*<button type="button" class="btn btn-default btn-lrg ajax" id="btnreport">Hiển thị dữ liệu</button>*@
                    <a href='' target="_blank" class="btn btn-primary btn-md" onclick="this.href = '/Admin/TrackingOrder/ListTrackingOrderDetailReport?startdate=' + document.getElementById('startdate').value + '&enddate=' + document.getElementById('enddate').value + '&customercode=' + document.getElementById('customercode').value">Hiển Thị</a>
                </div>
            </div>
        </div>
        <div class="box-body">
            
        </div>

    </div>


    <!-- /.box-body -->



</section>



<script>

    $(document).ready(function () {
        $('.loading-element').hide();
    });
    

    $(function () {
        $('#startdate').datepicker()
        $("#startdate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    })


    $(function () {
        $('#enddate').datepicker()
        $("#enddate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    })


    

    
    
</script>


