@{
//  Layout = null;
}

<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@


<!-- bootstrap datepicker -->
@*<link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">*@
<!-- Bootstrap Color Picker -->
@*<link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">*@

<title>Báo cáo chi tiết hoạt động phát</title>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Báo cáo chất lượng phát</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Báo Cáo</label>
                        <select class="form-control select2" style="width: 100%;" id="channel">
                            <option selected="selected" value="0">Tổng Hợp</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Bưu cục phát</label>
                        <select class="form-control select2" style="width: 100%;" id="endpostcode">
                            <option selected="selected" value="0">Tất cả</option>

                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Khu Vực</label>
                        <select class="form-control select2" style="width: 100%;" id="zone">
                            <option selected="selected" value="0">Tất cả</option>
                            <option value="1">Hà Nội</option>
                            <option value="2">Đà Nẵng</option>
                            <option value="3">Hồ Chí Minh</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tuyến phát</label>
                        <select class="form-control select2" style="width: 100%;" id="routecode">
                            <option selected="selected" value="0">Tất cả</option>

                        </select>
                    </div>
                    <!-- /.form-group -->
                    <!-- /.form-group -->

                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dịch Vụ</label>
                        <select class="form-control select2" style="width: 100%;" id="service">
                            <option selected="selected" value="10">Tất Cả</option>
                            <option value="0">EMS Thường</option>
                            <option value="1">COD</option>
                            <option value="2">Hỏa Tốc</option>
                            <option value="3">PT9</option>
                        </select>
                    </div>

                    <!-- /.form-group -->
                    <!-- /.form-group -->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <p>Ghi Chú: Thời gian phát thành công quy định</p>
                        <p>
                            +EMS Thường,COD: 6H
                        </p>
                        <p>+HỎA TỐC: 2H</p>

                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Từ Ngày </label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Đến Ngày</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lrg ajax" id="btnreport">Hiển Thị</button>
                </div>
                <div class="col-md-4">
                </div>
                <p>Sản Lượng Được Cập Nhật 6h Sáng Hàng Ngày</p>
                <div class="col-md-4">

                </div>
            </div>
            <div class="box-header">
                <h3 class="box-title">Tổng hợp sản lượng đi phát</h3>
            </div>
            <div style="overflow-x:auto;">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th>STT</th>
                            <th>Đơn Vị</th>
                            <th>Bưu Cục</th>
                            <th>Tên Bưu Cục</th>
                            <th>SL KT Đóng Sang</th>
                            <th>SL Bưu Gửi Đến</th>
                            <th>SL Phát Thành Công</th>
                            <th>SL Phát Thành Công Đúng Quy Định</th>
                            <th>SL Phát thành công Không Đúng Quy Định</th>
                            <th>Tỉ Lệ thành công Đạt Đúng Quy Định</th>
                            <th>Tỉ Lệ thành công Không Đúng Quy Định</th>
                            <th>SL Phát Thành Không Xác Định</th>

                        </tr>
                    </thead>
                    <tbody id="listqualityreport"></tbody>
                </table>
            </div>
            <div class="loading-element">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            <div>
                <p id="demo1"></p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chi Tiết</h4>
                            @*<input type="submit" name="btnExport" value="Xuất Excel" id="btnExport" />*@
                            <button type="submit" class="btn btn-default btn-lrg ajax" name="btnExport" id="btnExport">Xuất Excel</button>
                        </div>
                        <div class="modal-body edit-content">
                            <div type="reset" id="list_test"></div>
                            <div class="loading-element">
                                <i class="fa fa-spinner fa-spin"></i>
                                Vui lòng chờ giây lát...
                            </div>
                            @*<p id="demo"></p>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <!-- /.box-body -->





</section>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>*@

<!--jquery.bootpag.min-->>


<script>
    $(document).ready(function () {
        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");

        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    });




    //Phần Xuất excel của bảng chi tiết
    $(function () {
        $('[id*=btnExport]').on('click', function () {
            ExportToExcel('GridView1');
            //location.reload();
        });
    });
    function ExportToExcel(Id) {
        var tab_text = "<table border='2px'><tr>";
        var textRange;
        var j = 0;
        tab = document.getElementById(Id);
        var headerRow = $('[id*=GridView1] tr:first');
        tab_text += headerRow.html() + '</tr><tr>';
        var rows = $('[id*=GridView1] tr:not(:has(th))');
        for (j = 0; j < rows.length; j++) {
            if ($(rows[j]).css('display') != 'none') {
                tab_text = tab_text + rows[j].innerHTML + "</tr>";
            }
        }
        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, ""); //remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, Id + ".xls");
        }
        else {                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
        }
        return (sa);
    }



    $("#btnreport").click(function () {

        // goi ham Detail
        $("#listqualityreport tr").remove();
        detail();



    });

    $(document).ready(function () {
        $('.loading-element').hide();
    });

    //Phần chi tiết của bảng tổng hợp sản lượng đi phát
    function detail(p) {
        $.ajax({
            url: '@Url.Action("ListDetailedQualityDeliveryReport", "QualityDelivery")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    zone: $("#zone").val(),
                    endpostcode: $("#endpostcode").val(),
                    routecode: $("#routecode").val(),
                    startdate: $('#fromdate').val(),
                    enddate: $('#todate').val(),
                    service: $("#service").val()
                    
                },
            success: function (result) {
                // sau khi chay ham thanh cong lay ra ket qua thi bind html vao id listqualityreport
                console.log(result.Code);
                if (result.Code == 99) {
                    document.getElementById("demo1").innerHTML = "Không Có Dữ Liệu";

                }
                else {
                    $('.loading-element').hide();
                    $('#listqualityreport').html(result);
                }

            }
        })
    }

   

    //Sự kiện thay đổi bưu cục phát theo khu vực
    $(document).ready(function () {
        $('#zone').change(function () {
                $.ajax({
                    url: "/QualityDelivery/PosCode",
                    dataType: "json",
                    data: { zone: $("#zone").val() },
                    success: function (data) {
                        $('#endpostcode').html('<option value=0>Bưu Cục Phát </option>');
                        jQuery.each(data, function (i, val) {
                            $('#endpostcode').html($('#endpostcode').html() +
                                "<option value='" + val.POSCODE + "'>" + val.POSCODE + '-' + val.POSNAME + "</option>");
                        });
                    }
                });
            })
    });

    //Phần lấy dữ liệu của tuyến phát
    //$(document).ready(function () {

    //    $.getJSON("/QualityDelivery/RouteCode", function (data) {
    //        $.each(data, function (i, data) {

    //            $('<option>',
    //               {
    //                   value: data.POSCODE,
    //                   text: data.POSNAME
    //               }).html(data.POSCODE + '-' + data.POSNAME).appendTo("#routecode");
    //        });
    //    })

    //});

    //Sự kiện thay đổi tuyến phát theo bưu cục phát
    $(document).ready(function () {
        $('#endpostcode').change(function () {
            $.ajax({
                url: "/QualityDelivery/RouteCode",
                dataType: "json",
                data: { endpostcode: $("#endpostcode").val() },
                success: function (data) {
                    $('#routecode').html('<option value=0>Tuyến Phát </option>');
                    jQuery.each(data, function (i, val) {
                        $('#routecode').html($('#routecode').html() +
                            "<option value='" + val.POSCODE + "'>" + val.POSCODE + '-' + val.POSNAME + "</option>");
                    });
                }
            });
        })
    });


</script>


