
@{
//  Layout = null;
}


<!-- daterange picker -->
<link rel="stylesheet" href="/Areas/Admin/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
@*<link rel="stylesheet" href="/Areas/Admin/Content/plugins/Print.js-1.0.35/css/print.css">*@
@*<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css" />*@
<!-- bootstrap datepicker -->
@*<link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">*@
<!-- Bootstrap Color Picker -->
@*<link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">*@

<title>Báo cáo tổng hợp dữ liệu truyền nhận VNPOST</title>

<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Báo cáo tổng hợp dữ liệu truyền nhận VNPOST</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>


        <!-- /.box-header -->
        <div class="box-header">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Lựa Chọn In Bản Kê </label>
                        <select class="form-control select2" style="width: 100%;" id="typecomunication">
                            <option selected="selected" value="1">Bản Kê Liên Tỉnh</option>
                            <option value="2">Bản Kê Nội Tỉnh </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tỉnh Đóng </label>
                        <select class="form-control select2" style="width: 100%;" id="fromprovince"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Bưu Cục Đóng </label>
                        <select class="form-control select2" style="width: 100%;" id="fromposcode">
                            <option selected="selected" value="0">Tất cả</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tỉnh Nhận </label>
                        <select class="form-control select2" style="width: 100%;" id="toprovince"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Bưu Cục Nhận </label>
                        <select class="form-control select2" style="width: 100%;" id="toposcode">
                            <option selected="selected" value="0">Tất cả</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Từ Ngày </label>
                </div>
                <div class="col-md-4">
                    <label>Đến Ngày</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @*<label>Khoảng thời gian</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="reservation">
                            </div>*@
                        <!-- /.input group -->

                        
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="fromdate" type="text" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input class="form-control pull-right" id="todate" type="text" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-lrg ajax" id="btnreport">Hiển thị dữ liệu</button>
                        <div class="row">
                            <div class="col-md-6">
                                
                                @*<a href="/Admin/TransferManagement/E2_TransferManagementDetailReport" target="_blank" id="btnreport" class="btn btn-default btn-md">Hiển thị dữ liệu</a>*@

                                @*<a href='' target="_blank" id="btnreport" class="btn btn-default btn-md" onclick="this.href ='/Admin/TransferManagement/MCT_E2_TransferManagementDetailReport?fromposcode=' + document.getElementById('ide2').value + '&toposcode=' + document.getElementById('ide2').value + '&date=' + document.getElementById('ide2').value + '&mailtrip=' + document.getElementById('ide2').value + '&postbag=' + document.getElementById('ide2').value">Hiển thị dữ liệu</a>*@

                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="box-body">

            <!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <label for="ide2">Mã Cổ Túi:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input class="form-control" type="text" id="ide2" name="ide2">
                </div>
                <div class="col-lg-6">
                    <a href='' target="_blank" class="btn btn-primary btn-md" onclick="this.href = '/Admin/TransferManagementVNPOST/MCT_E2_TransferManagementVNPOSTDetailReport?ide2=' + document.getElementById('ide2').value + '&typecomunication=' + document.getElementById('typecomunication').value  ">Xem Bản kê E2</a>
                </div>

            </div>
            
            <div class="box-header">
                <h3 class="box-title">Báo Cáo Tổng hợp</h3>
            </div>
            <div style="overflow-x:auto;">
                <table id="example1" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-light-blue color-palette">
                            <th>STT</th>
                            <th>Bưu Cục Đóng</th>
                            <th>Tên Bưu Cục Đóng</th>
                            <th>Bưu Cục Nhận</th>
                            <th>Tên Bưu Cục Nhận</th>
                            <th>Ngày</th>
                            <th>Tổng Số Chuyến Thư</th>
                            <th>Tổng Số Túi</th>
                            <th>Tổng Số Bưu Gửi</th>
                        </tr>
                    </thead>
                    <tbody id="listtransfermanagement">
                    </tbody>
                </table>
            </div>
            <div class="loading-element">
                <i class="fa fa-spinner fa-spin"></i>
                Vui lòng chờ giây lát...
            </div>
            <!-- Modal  -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chi tiết tổng hợp dữ liệu truyền nhận VNPOST</h4>
                        </div>
                        <div class="modal-body edit-content">
                            <div type="reset" id="list_test"></div>
                            <div class="loading-element">
                                <i class="fa fa-spinner fa-spin"></i>
                                Vui lòng chờ giây lát...
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal so tui -->
            <div class="modal fade" id="myModalSoTui" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Chi tiết tổng hợp dữ liệu truyền nhận VNPOST</h4>
                        </div>
                        <div class="modal-body edit-content">
                            <div type="reset" id="list_sotui"></div>
                            <div class="loading-element">
                                <i class="fa fa-spinner fa-spin"></i>
                                Vui lòng chờ giây lát...
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- /.box-body -->



</section>



<script>

    
    

    $(function () {
        $('#fromdate').datepicker()
        $("#fromdate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    })


    $(function () {
        $('#todate').datepicker()
        $("#todate").datepicker({
            dateFormat: "dd/mm/yyyy"
        }).datepicker("setDate", "0");
    })


    //Phần lấy dữ liệu tỉnh đóng
    $(document).ready(function () {

        $.getJSON("/TransferManagementVNPOST/ProvinceCode", function (data) {
            $.each(data, function (i, data) {

                $('<option>',
                   {
                        value: data.PROVINCECODE,
                        text: data.PROVINCENAME
                   }).html(data.PROVINCECODE + '-' + data.PROVINCENAME).appendTo("#fromprovince");
            });
        })

    });


    //Phần lấy dữ liệu tỉnh Nhận
    $(document).ready(function () {

        $.getJSON("/TransferManagementVNPOST/ProvinceCode", function (data) {
            $.each(data, function (i, data) {

                $('<option>',
                   {
                       value: data.PROVINCECODE,
                       text: data.PROVINCENAME
                   }).html(data.PROVINCECODE + '-' + data.PROVINCENAME).appendTo("#toprovince");
            });
        })

    });


    //Lần đầu load bưu cục đóng = HN

    $.ajax({
        url: "/TransferManagementVNPOST/PosCode",
        dataType: "json",
        data: { province:10 },
        success: function (data) {
            $('#fromposcode').html('<option value=0>Tất Cả </option>');
            jQuery.each(data, function (i, val) {
                $('#fromposcode').html($('#fromposcode').html() +
                    "<option value='" + val.POSCODE + "'>" + val.POSCODE + '-' + val.POSNAME + "</option>");
            });
        }
    });

    //Sự kiện thay đổi bưu cục đóng theo khu vực
    $(document).ready(function () {
        $('#fromprovince').change(function () {
            $.ajax({
                url: "/TransferManagementVNPOST/PosCode",
                dataType: "json",
                data: { province: $("#fromprovince").val() },
                success: function (data) {
                    $('#fromposcode').html('<option value=0>Tất Cả </option>');
                    jQuery.each(data, function (i, val) {
                        $('#fromposcode').html($('#fromposcode').html() +
                            "<option value='" + val.POSCODE + "'>" + val.POSCODE + '-' + val.POSNAME + "</option>");
                    });
                }
            });
        })
    });


    //Lần đầu load bưu cục nhận = HN

    $.ajax({
        url: "/TransferManagementVNPOST/PosCode",
        dataType: "json",
        data: { province: 10 },
        success: function (data) {
            $('#toposcode').html('<option value=0>Tất Cả </option>');
            jQuery.each(data, function (i, val) {
                $('#toposcode').html($('#toposcode').html() +
                    "<option value='" + val.POSCODE + "'>" + val.POSCODE + '-' + val.POSNAME + "</option>");
            });
        }
    });

    //Sự kiện thay đổi bưu cục nhận theo khu vực
    $(document).ready(function () {
        $('#toprovince').change(function () {
            $.ajax({
                url: "/TransferManagementVNPOST/PosCode",
                dataType: "json",
                data: { province: $("#toprovince").val() },
                success: function (data) {
                    $('#toposcode').html('<option value=0>Tất Cả </option>');
                    jQuery.each(data, function (i, val) {
                        $('#toposcode').html($('#toposcode').html() +
                            "<option value='" + val.POSCODE + "'>" + val.POSCODE + '-' + val.POSNAME + "</option>");
                    });
                }
            });
        })
    });

    $("#btnreport").click(function () {
        
        
        $("#listtransfermanagement tr").remove();
        // goi ham Detail
        detail();
        

    });

    $(document).ready(function () {
        $('.loading-element').hide();
    });

    //Phần chi tiết của bảng tổng hợp sản lượng đi phát
    function detail(p) {
        $.ajax({
            url: '@Url.Action("ListDetailedTransferManagementVNPOSTReport", "TransferManagementVNPOST")',
            beforeSend: function () {
                $('.loading-element').show();
            },
            dataType: 'html',
            data:
                {
                    //zone: $("#zone").val(),
                    fromprovince: $('#fromprovince').val(),
                    toprovince: $('#toprovince').val(),
                    fromposcode: $('#fromposcode').val(),
                    toposcode: $('#toposcode').val(),
                    fromdate: $('#fromdate').val(),
                    todate: $('#todate').val(),
                    typecomunication: $('#typecomunication').val(),

                },
            success: function (result) {
                // sau khi chay ham thanh cong lay ra ket qua thi bind html vao id listtransfermanagement
                if (result.Code == '01') {
                    alert("Không Có Dữ Liệu");
                    
                }
                else {
                    $('.loading-element').hide();
                    $('#listtransfermanagement').html(result);

                }

            }
        })
    }

    
    
</script>


